header {
	display: flex;
	align-items: center;
	flex-direction: column;
  background-color: #FFD1D1;
  padding-bottom: 12px;
  margin-bottom: 6px;
  color: rgb(98, 98, 98);
}

h1 {
  margin: 6px 0px;
}

.scores {
  width: 100%;
	display: flex;
	justify-content: center;
  gap: 12px;
  margin-top: 6px;
}

p {
  margin: 0px;
}

.note {
  margin: 0px;
  font-size: 12px;
}
